body {
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  width: 100%;
  color: #333;
  background-color: white;
}
p{
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}
.nyt-logo{
  width: 300px;
  height: 45px;
}
.nav {
  position: fixed;
  display: block;
  width: 100%;
  height: 45px;
  top: 0;
  border-bottom: 1px solid #e2e2e2;
  background-color: white;
  z-index: 1;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 15px;
  cursor: pointer;
}

.button {
  background-color:#567b95;;
  color: white;
  padding: 7px;
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #326891;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.cosmos .space-co {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.space {
  height: 50px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-icons {
  width: 274px;
  height: 27px;
  justify-content: space-between;
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
}

.heading {
  width: 600px;
  height: 96px;
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 700;
  font-style: italic;
  margin: 0 20px 20px;
  max-width: 600px;
}

ul {
  list-style-type: none;
}
.main-pic {
  width: 945px;
  height: 530px;
  cursor: pointer;
  vertical-align: top;
}

.figcap {
  width: 700px;
  height: 35px;
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  text-align: left;
}
.figcap2{
  display: inline;
  color: #888;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.01em;
}
.figcap4 {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
}
.author1 {
  display: flex;
  align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.name1 {
  display: inline-block;
}

.intro {
  display: inline-block;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin: 0;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    color: #333;
}

.name {
  color: #333;
  text-decoration: underline;
  text-decoration-color: #ccc;
}

.date-time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0%;
  flex-wrap: nowrap;

}

.time {
  font-family: nyt-franklin, helvetica,arial,sans-serif;
  font-weight: 500;
  color: #333;
  margin-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}

.article {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 100%;
  margin-bottom: 1rem;
}

.main-contain {
  margin-left: calc((100% - 600px) / 2);
    margin-right: 0;
    width: 600px;
}

.sign-up {
  display: block;
  margin-top: 4px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  color: rgb(0, 0, 0);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  height: auto;
  line-height: 1.25rem;
  white-space: nowrap;
  letter-spacing: 0.02em;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
} 

.appreciate {
    box-sizing: border-box;
    max-width: 600px;
    margin: 25px auto;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
}

.css-border {
  border-bottom: 1px solid rgb(204, 204, 204);
    width: 72px;
    margin: 0px auto 18px;
}

.css-color {
  color: rgb(50, 104, 145);
  text-decoration: none;
}